.single-comment{
    height: 350px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin: 20px;

}
.set-img{
margin-top: -70px;
border: none;
width: 50%;
height: 150px;
margin-left: 73px;
margin-bottom: 10px;
border-radius: 50%;
}
.sett-img{
/*     margin-top: 100px;
 */    border: none;
    width: 50%;
    height: 150px;
    margin-left: 73px;
    border-radius: 50%;
    }
.single-comment p{
    padding: 14px;
}