
.menu-link{
    text-decoration: none;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    font-weight: 700;
    font-size: large
}
.local-home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 300px;
    grid-row-gap: 50px;
    margin: 100px;
    
}
.comment{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    margin-top: 100px;
    margin: 100px;
}
.flower{
    height: 300px;
    width: 300px;
    border: 2px solid rgba(85, 26, 139, 1);
    border-radius: 50%;
    outline: 1px solid cornflowerblue;
}
.flower-img{
    margin-top: 40px;
    margin-left: 50px;
}
.btn{
    margin: 20px;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    font-size: large;
    font-weight: 700;
    padding: 2px;
    cursor: pointer;
    color: rgba(85, 26, 139, 1);
}
.btn:hover{
    background-color: rgba(85, 26, 139, 1);
    color: white;
}