.App {
  text-align: center;
  margin: 29px;
  text-decoration: none;
}
.ok{
  text-decoration: none;
}
/* nav{

  height: 40px;
  margin:0 130px;
  margin-left: 110px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);

} */





